*.doc
*.pdf
*.eps
*.png
/.*_STAMP
#TEX outputs
*.out
*.aux
*.toc
*.log
*.dvi
*.bbl
*.blg
*.lof
*.m~
*.asv
*.gz
*.bak
*.fdb_latexmk
*.fls
#Python outputs
*.ipynb_checkpoints
*.ipynb
#Project files
*.sublime-project
*.sublime-workspace
*.code-workspace
#=================KEEP these files=======================
# !thesis.pdf
